:root{
    --graycolor:#F3F3F3;
    --darkcolor:#191A23;
    --greencolor:#B9FF66;
}
html{
    padding: 0px 100px;
}

body{
    padding-top: 5%;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    background-color: var(--graycolor);
}

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: auto;
}

header nav{
    column-gap: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.button{
    border: 1px solid;
    border-radius: 14px;
    padding: 20px 35px;
}

.button-bookConsul{
    background-color: var(--darkcolor);
    border: solid var(--darkcolor);
}

.button-bookConsul a{
    color: antiquewhite;
}

.Navigation-info{
    margin: 70px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-text{
    width: 531px;
    height: 481px; 
}

.title-text p{
    margin: 35px 0px;
    line-height: 28px;
}

.title-text h1{
    font-size: 60px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: var(--darkcolor);
}

.companies{
    display: flex;
    justify-content: space-between;
    filter: grayscale(1);
}

.services {
    text-align: left;
}

.service-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 7.5% 0% 5% 0%;
}

.services h2{
    margin: 0px;
    font-size: 36px;    
    background-color: var(--greencolor);
    border-radius: 14px;
}

.services p{
    width: 580px;
    margin: 0px;
    font-size: 18px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.service-group {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
}

.service-card {
    display: flex;
    padding: 50px;
    border-radius: 14px;
    border: solid 0.5px;
    border-bottom: solid 5px;
    width: 600px;
    height: auto;
    justify-content: space-between;
    transition: transform 0.3s ease;
}
.service-card2{
    background-color: var(--greencolor);
} 

.service-card4{
    background-color: var(--graycolor);
} 

.service-card:hover {
    transform: scale(1.02);
}


.service-content h3 {
    margin: 5px 0;
}

.service-content img {
    margin-top: 93px;
    cursor: pointer;
}


