:root{
    --graycolor:#F3F3F3;
    --darkcolor:#191A23;
    --greencolor:#B9FF66;
}

body{
    padding-top: 5%;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    background-color: var(--graycolor);
}

header{
    padding: 0px 100px 0px 100px; 
    display: flex;
    justify-content: space-between;
}

header img{
    width: auto;
}

header nav{
    column-gap: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.button{
    border: 1px solid;
    border-radius: 14px;
    padding: 20px 35px;
    gap: 40px;
}

.Navigation-info{
    background-color: aqua;
    padding: 0px 100px;
    margin: 70px 0px;
    display: flex;
}

.title-text{
    align-content: flex-start;
    row-gap: 35px;
}

.Section-main{
    gap: 70px 0px;
}

a{
    text-decoration: none;
    color: var(--darkcolor);
}

