/* style.css */
body {
    font-family: sans-serif;
    background-color: lightblue;
  }
  
  h1 {
    color: blue;
  }
  
  p {
    margin-bottom: 20px;
  }

  section.bordes {
    margin-top: 50;
  }

  .imagenes {
    width: 100%; /* O ancho deseado */
  }
  .imagenes img {
    width: 30%; /* O ancho deseado */
    display: inline-block;
    margin: 5px; /* Espacio entre imágenes */
  }

  section.img { 
    display: flex;
    width: 600;
    height: 430;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }

  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }

  a:hover:not(.active) {
    background-color: #2985af;
  }
  
  .active {
    background-color:#04AA6D;
  }
  
  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover{
    cursor: crosshair;
    opacity: 1;
    width: 300px;
    filter: contrast(120%);
  }

  a{
    text-decoration: none;
  }